@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500;600&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');


:root{
    --main-color: #e84242;
    --black-color: #0e0e0e;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

section{
    padding: 35px 7%;
   
}

a{
    color: var(--black-color);
    text-decoration: none;
}




.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 20px 38px;
    border-radius: 300px;
    font-size: 18px;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
    
}

.btn:hover {
    opacity: 0.9;
}

section h1{
 color: white;
 text-transform: uppercase;
 font-size: 40px;
 margin-bottom: 35px;
 border-bottom: 5px solid #fff;
 
}

section h1 span{
    text-transform: uppercase;
    color: var(--black-color);
}

.btn:hover{
    opacity: 0.9;
}

.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
    border-bottom: 10px solid #fff;


}

.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}

.search-input {
    font-size: 16px;
    color: var(--black-color);
    padding: 10px;
    text-transform: none;
    border-radius: 30px;

}

body{
    background-color: var(--main-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 8px;
    background-color: white;

}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: var(--black-color);

}

header img {
  width: 100px;
}

/* HEADER START */
.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 2px rgba(0 0 0 / 75%);
    transform: scaleY(0);
    
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form i {
    cursor: pointer;
    font-size: 22px;
    margin-right: 15px;
    color: var(--black-color);

}

.header .search-form input {
    width: 100%;
}

.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 20px 7%;
    border-radius: 300px;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .buttons button {
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
    background-color: transparent;
}


.header .cart-items-container{
    position: absolute;
    top: 95%;
    height: calc(100vh-90px);
    width: 350px;
    background-color: #fff;
    box-shadow: 0px 20px 14px 0px rgb(0  0 0 / 75%);
    right: -100%;
}
/*
.header .cart-items-container.active{
    right: 30px;
}

.header .cart-items-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.header .cart-items-container .cart-item:hover{
    box-shadow: 0px 20px 14px 0px rgb(0  0 0 / 75%);
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: var(--black-color);
}

.header .cart-items-container .cart-item img {
    height: 70px;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 20px;
    color: var(--black-color);
    padding-bottom: 5px;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 15px;
    color: var(--black-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    border-radius: unset;
}
*/

.header #menu-btn{
    display: none;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}
.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding: 0.5rem;
}

.header .navbar button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
/*HEADER END */

/*HOME START */
.home{
    min-height: 100vh;
    background: url(images/home.jpg);
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -145px;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 600px;

}

.home .content h3{
    font-size: 60px;
    color: #fff;
}

.home .content p{
    font-size: 2px;
    font-weight: 300;
    line-height: 18px;
    padding: 10px 0;
    color: #ccc ;
}


/*MENU START */

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.menu .box-container .box {
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box img {
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .menu-category{
    font-size: 12px;
    text-transform: uppercase;
}

.menu .box-container .box h3{
    padding: 10px 0;
    font-size: 30px;
}

.menu .box-container .box .price{
    padding: 5px 0;
    font-size: 25px;
}

.menu .box-container .box .price span{
   text-decoration: line-through;
   font-size: 15px;
   font-weight: 300px;
}


/*PRODUCT START*/

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}



.products .box-container .box {
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
   position: relative;


}

.products .box-container .box .box-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}


.products .box-container .box .box-head .title {
    font-size: 14px;
}


.products .box-container .box .box-head .name {
    font-size: 40px;
    font-weight: bold;
    text-align: start;
    overflow-wrap: anywhere;
}

.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title {
    color: #fff;
}


.products .box-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

.products .box-container .dark-bg img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: unset;

}
.products .box-container .box-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   z-index: 10; 
}

.products .box-container .box-bottom .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 
 .products .box-container .box-bottom .info .price {
    font-size: 30px;

 }

 .products .box-container .box-bottom .info .price .amount {
    font-size: 14px;
 }


 .products .box-container .dark-bg .box-bottom .info .price,
 .products .box-container .dark-bg .box-bottom .info .amount {
    color: #fff;

 }

 .products .box-container .box-bottom .product-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 2px solid var(--main-color);
 }

 .products .box-container .box-bottom .product-btn a i {
    font-size: 16px;
    color: var(--main-color);
 }


 /*ABOUT START */

 .about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
 }

 .about .row .image {
    flex: 1 1 45px;
 }

 .about .row img{
    width: 100%;
 }

 .about .row .content {
    flex: 1 1 450px;
 }

 .about .row .content h3{
    font-size: 30px;
    color: #fff;
 }

 .about .row .content p {
    font-size: 16px;
    padding: 10px 0;
    color: #fff;
    line-height: 18px;
 }

 /*REVİEW START*/
 .review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
 }

 .review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 30px;
 }

 .review .box-container .box p {
    font-size: 15px;
    line-height: 18px;
    padding: 20px 0;
 }

 .review .box-container .box .user{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
 }

 .review .box-container .box h3 {
    padding: 10px 0;
    font-size: 20px;
    color: var(--main-color);
 }

 .review .box-container .box .starts i {
    font-size: 15px;
    color: gold;
 }

 /*CONTACT START */

 .contact .row {
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 10px;
 }

 .contact .row .map {
    flex: 1 1 450px;
    width: 100%;
    object-fit: cover;
 }

 .contact .row form {
    flex: 1 1 450px;
  padding: 50px 20px;
  text-align: center;
 }

 .contact .row form h3 {
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
 }

 .contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin: 20px o;
    border: var(--border);
 }

 .contact .row form .inputBox i {
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
 }

 .contact .row form .inputBox input {
    width: 100%;
    padding: 20px;
    font-size: 17px;
    color: #fff;
    text-transform: none;
    background-color: transparent;
 }


 .contact .row form .btn {
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;

 }
 /* BLOG START */

 .blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
 }

 .blogs .box-container .box {
    background-color: #fff;
    border-radius: 30px;

 }

 .blogs .box-container .box  .image {
    height: 250px;
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
 }

 .blogs .box-container .box  .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;

 }

 .blogs .box-container .box:hover .image img {
    transform: scale(1.2);
 }

 .blogs .box-container .box .content{
    padding: 20px;
 }

 .blogs .box-container .box .content .title{
    line-height: 1.5;
    font-size: 25px;
 }

 .blogs .box-container .box .content span {
    display: block;
    padding-top: 10px;
    font-size: 20px;
 }

 .blogs .box-container .box .content p {
    font-size: 16px;
    line-height: 1.8;
    color: #ccc;
    padding: 10px 0 ;
 }

/*FOOTER START */
.footer{
    background-color: var(--black-color);
    text-align: center;
}

.footer .search {
    display: flex;
    justify-content: center;
}
 .footer .search .search-input {
    width: 300px;
 }

 .footer .search .btn-primary {
    background-color: var(--main-color);
    padding: 10px 20px;
    margin: 10px;
 }

 .footer .share {
    padding: 20 px 0;

 }

 .footer .share a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border: var(--border);
    border-radius: 50%;
    margin: 3px;
 }

 .footer .share a:hover {
    background-color: var(--main-color);
 }


 .footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    ;
 }

 .footer .links a {
    background-color: var(--main-color);
    padding: 7px 20px;
    color: #fff;
    font-size: 20px;
    border: var(--border)

 }

 .footer .links a:hover{
    background-color: var(--black-color);
    opacity: 7px;

 }

 .footer .links a.active {
    background-color: var(--black-color);
 }

 .footer .credit {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    padding-top: 15px;
 }

 .footer .credit span {
    color: var(--main-color);
 }

 /* RESPONSİVE */

 @media(max-width:991) {
    html{
        font-size: 55%;
    }
    .header {
        padding: 15px 20px;
    }
    .header .logo img {
        height: 70px;
    }
    section {
        padding: 20px;
    }

    .products .box-container .box .box-head .name {
        font-size: 34px;
    }
 }

 @media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 90px);
        width: 300px;
        box-shadow: 0px 20px 14px 0px rgb(0, 0, 0 / 75%);
        right: -100%;

    }

    .header .navbar.active {
        right: 30px;
    }

    .header .navbar a {
        color: var(--black-color);
        display: block;
        margin: 15px;

        padding: 5px;
        font-size: 20px;
    }
 }